@model ZShop.Models.Account.LoginModel

@{
    ViewData["Title"] = "Login";
}



<!DOCTYPE html>
<html lang="en">

<body>


    
                <div class="span9">
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                        <li class="active">Login</li>
                    </ul>
                    <h3> Login</h3>
                    <hr class="soft" />

                    <div class="row">
                        <div class="span4">
                            <div class="well">
                                <h5>CREATE YOUR ACCOUNT</h5><br />
                               
                                    <div class="controls">
                                        <a  asp-action="Register" asp-controller="Account" class="btn block">Create Your Account</a>
                                    </div>
                              
                            </div>
                        </div>
                        <div class="span1"> &nbsp;</div>
                        <div class="span4">
                            <div class="well">
                                <h5>ALREADY REGISTERED ?</h5>
                                <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                                    <div class="control-group" >
                                        <label asp-for="Password" class="control-label" for="inputEmail1">Логин</label>
                                        <div class="controls">
                                            <input asp-for="Name" class="span3" type="text" id="inputEmail1" placeholder="Логин">
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" asp-for="Password">Password</label>
                                        <div class="controls">
                                            <input asp-for="Password" type="password" class="span3" id="inputPassword1" placeholder="Password">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button type="submit" class="btn">Sign in</button> 
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
         
    <!-- MainBody End ============================= -->
    <!-- Footer ================================================================== -->
    
</body>
</html>



