@model ZShop.Models.Account.RegisterModel

@{
    ViewData["Title"] = "Register";
}









<!DOCTYPE html>
<html lang="en">

<body>
   
    <!-- Header End====================================================================== -->
    
                <!-- Sidebar ================================================== -->
                
                <!-- Sidebar end=============================================== -->
                <div class="span9">
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                        <li class="active">Registration</li>
                    </ul>
                    <h3> Registration</h3>
                    <div class="well">
                      
                        <form class="form-horizontal" asp-action="Register" asp-controller="Account">
                            

                            
                            <div class="control-group">
                                <label class="control-label" asp-for="Name">Username</label>
                                <div class="controls">
                                    <input asp-for="Name" class="form-control" required="required">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" asp-for="Email">Email Address</label>
                                <div class="controls">
                                    <input asp-for="Email" class="form-control" required="required">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" asp-for="Phone">Phone</label>
                                <div class="controls">
                                    <input asp-for="Phone" class="form-control" required="required">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" asp-for="Password">Password</label>
                                <div class="controls">
                                    <input asp-for="Password" class="form-control" required="required">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label col-xs-4" asp-for="ConfirmPassword">Confirm Password</label>
                                <div class="controls">
                                    <input asp-for="ConfirmPassword" class="form-control" required="required">
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
          
    <!-- MainBody End ============================= -->
    <!-- Footer ================================================================== -->
   
  
</body>
</html>




@*<!DOCTYPE html>
    <html lang="en">

    <body>

            <div class="container">


                <div id="mainBody">
                    <div class="container">
                        <div class="row">



                            <form asp-action="Register" class="form-horizontal">
                              
                            </form>
                            <div class="text-center">Already have an account? <a href="#">Login here</a></div>
                        </div>
                    </div>
                    </div>
                </div>

        </div>


        <span id="themesBtn"></span>
    </body>
    </html>*@