
@{
    ViewData["Title"] = "AdminPanel";
}




<!DOCTYPE html>
<html lang="en">

<body>

    <!-- Header End====================================================================== -->
    <!-- Sidebar ================================================== -->
    <!-- Sidebar end=============================================== -->
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active">Registration</li>
        </ul>
        <h3>Оформление заказа</h3>
        <div class="well">
            <div class="container" style="padding-bottom:10px">
                <a class="btn" asp-action="Create" asp-controller="Admin">Добавить товар</a>
            </div>
            <div class="container">
                <a class="btn" asp-action="Orders" asp-controller="Admin">Заказы</a>
            </div>
            



        </div>

    </div>

    <!-- MainBody End ============================= -->
    <!-- Footer ================================================================== -->


</body>
</html>
