
@{
    ViewData["Title"] = "AdminPanel";
}




<!DOCTYPE html>
<html lang="en">

<body>

    <!-- Header End====================================================================== -->
    <!-- Sidebar ================================================== -->
    <!-- Sidebar end=============================================== -->
    <div class="span9">
        <ul class="breadcrumb">
            <li><a class="active">Админ панель</a>
        </ul>
        <h3>Админ панель</h3>
        <div class="well">
            <div class="container" style="padding-bottom:10px">
                <a class="btn" asp-action="Create" asp-controller="Admin">Добавить товар</a>
            </div>
            <div class="container" style="padding-bottom:10px">
                <a class="btn" asp-action="Orders" asp-controller="Admin">Заказы</a>
            </div>
            <div class="container" style="padding-bottom:10px">
                <a class="btn" asp-action="GetUsers" asp-controller="Admin">Пользователи</a>
            </div>
            <div class="container">
                <a class="btn" asp-action="AddCategory" asp-controller="Admin">Добавить категорию</a>
            </div>




        </div>

    </div>

    <!-- MainBody End ============================= -->
    <!-- Footer ================================================================== -->


</body>
</html>
