
@{
    ViewData["Title"] = "AdminPanel";
}
<head>
    <style>
        body {
        }

        .panel-body .btn:not(.btn-block) {
            width: 240px;
            margin-bottom: 20px;
            padding-right: 220px;
        }
    </style>
</head>


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container" style="margin-left:250px;">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span> <h1>AdminPanel</h1>
                    </h3>
                </div>
                <div class="panel-body" style="height : 450px; width : 500px; padding-left:40px;">
                    <div class="row">
                        <div class="col-xs-10 col-md-6">
                            <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-list-alt"></span> <br />Добавить товар</a>
                            <a href="#" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-bookmark"></span> <br />Скоро будет</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-signal"></span> <br />Скоро будет</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br />Скоро будет</a>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <a href="#" class="btn btn-success btn-lg" role="button" style="margin-left : 10px"><span class="glyphicon glyphicon-user"></span> <br />Управление покупателями</a>
                            <a href="#" class="btn btn-info btn-lg" role="button" style="margin-left : 10px"><span class="glyphicon glyphicon-file"></span> <br />Скоро будет</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button" style="margin-left : 10px"><span class="glyphicon glyphicon-picture"></span> <br />Скоро будет</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button" style="margin-left : 10px"><span class="glyphicon glyphicon-tag"></span> <br />Скоро будет</a>
                        </div>
                    </div>
                    <a href="http://www.jquery2dotnet.com/" class="btn btn-success btn-lg btn-block" role="button" style=" margin-left:10px;"><span class="glyphicon glyphicon-globe"></span> Скоро будет</a>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>