@model ZShop.Models.Account.ProductViewModel
@{
    ViewData["Title"] = "Create";
}




<div class="row" style="padding-top : 100px">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-action="Create" asp-controller="Admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="Цена" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category">Категория</label>
                <select class="form-control" id="single_select" asp-for="Category">
                    <option value="Бензопилы">Бензопилы</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Название..." />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Описание</label>

                <textarea name="Description" id="Description"
                          rows="5" cols="40"
                          data-val-required="The Description field is required."
                          data-val-maxlength-max="5000"
                          data-val-maxlength="The field Description must be a string or array type with a maximum length of '5000'."
                          data-val="true" asp-for="Description">

                </textarea>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl">Фото</label>
                <i class="fas fa-cloud-upload-alt"></i>
                <input asp-for="ImageUrl" type="file" value="Upload" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrlShowCase">Фото размер(350x260)</label>
                <i class="fas fa-cloud-upload-alt"></i>
                <input asp-for="ImageUrlShowCase" type="file" value="Upload" />
                <span asp-validation-for="ImageUrlShowCase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>





<script>
    $('#data_source_single').multiselect({
        onInitialized: function (select, container) {
            container.multiselect('dataprovider', options2);
            container.multiselect('setOptions', {
                nonSelectedText: 'Select a pooch...',
                enableFiltering: true,
                filterBehavior: 'both',
                enableCaseInsensitiveFiltering: true,
                templates: {
                    li: '<li><a href="javascript:void(0);"><label class="pl-2"></label></a></li>',
                    filter: '<li class="multiselect-item filter"><div class="input-group m-0 mb-1"><input class="form-control multiselect-search" type="text"></div></li>',
                    filterClearBtn: '<div class="input-group-append"><button class="btn btn btn-outline-secondary multiselect-clear-filter" type="button"><i class="fa fa-close"></i></button></div>'
                },
                selectedClass: 'bg-light',
            });
            container.multiselect('rebuild');
            $('input[type=radio]').addClass('d-none');
        }
    });

</script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>