@model ZShop.Models.Account.ProductViewModel

@{
    ViewData["Title"] = "Edit";
}



<div class="span9" style="width:100px;">
    <div class="span9">
        <form method="post" enctype="multipart/form-data" asp-action="Edit" asp-controller="Admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group hidden">
                <label asp-for="Id"></label>
                <input asp-for="Id" class="form-control" placeholder="Цена" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="Цена" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId">Категория</label>
                <select class="form-control" id="single_select" asp-for="CategoryId">
                    @await Component.InvokeAsync("CategoryList")
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Название..." />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Описание</label>

                <textarea name="Description" id="Description"
                          rows="5" cols="40"
                          data-val-required="The Description field is required."
                          data-val-maxlength-max="5000"
                          data-val-maxlength="The field Description must be a string or array type with a maximum length of '5000'."
                          data-val="true" asp-for="Description">

                </textarea>
            </div>
            <div class="form-group">
                <label asp-for="Brand"></label>
                <input asp-for="Brand" class="form-control" placeholder="Фирма..." />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model"></label>
                <input asp-for="Model" class="form-control" placeholder="Модель..." />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl">Фото</label>
                <i class="fas fa-cloud-upload-alt"></i>
                <input asp-for="ImageUrl" type="file" value="Upload" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl_1">Фото</label>
                <i class="fas fa-cloud-upload-alt"></i>
                <input asp-for="ImageUrl_1" type="file" value="Upload" />
                <span asp-validation-for="ImageUrl_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl_2">Фото</label>
                <i class="fas fa-cloud-upload-alt"></i>
                <input asp-for="ImageUrl_2" type="file" value="Upload" />
                <span asp-validation-for="ImageUrl_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl_3">Фото</label>
                <i class="fas fa-cloud-upload-alt"></i>
                <input asp-for="ImageUrl_3" type="file" value="Upload" />
                <span asp-validation-for="ImageUrl_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrlShowCase">Фото размер(250 x 220)</label>
                <i class="fas fa-cloud-upload-alt"></i>
                <input asp-for="ImageUrlShowCase" type="file" value="Upload" />
                <span asp-validation-for="ImageUrlShowCase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
   






