@model Entities.Order

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" asp-controller="Order" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>\
            <div class="form-group">
                <label asp-for="PersonFirstName" class="control-label"></label>
                <input asp-for="PersonFirstName" class="form-control" />
                <span asp-validation-for="PersonFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonLastName" class="control-label"></label>
                <input asp-for="PersonLastName" class="form-control" />
                <span asp-validation-for="PersonLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostOfiice" class="control-label"></label>
                <input asp-for="PostOfiice" class="form-control" />
                <span asp-validation-for="PostOfiice" class="text-danger"></span>
            </div>          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

