
@{
    ViewData["Title"] = "View";
}

<html lang="en">

<body>
    <header class="site-header" id="header">
        <h1 class="site-header__title" data-lead-id="site-header-title">Спасибо!</h1>
    </header>

    <div class="main-content">
        <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
        <p class="main-content__body" data-lead-id="main-content-body">Ваш заказ был получен, ожидайте</p>
    </div>


</body>
</html>
