
@{
    ViewData["Title"] = "View";
}

    <html lang="en">

    <body>

        <div align="center">

           
            <h1 class="display-3">Спасибо за заказ</h1>
            <p  class="lead"><strong>Ожидайте, в скорем времени с вами свяжутся</strong> </p>
            <hr>

        </div>

    </body>
    </html>
