
@{
    ViewData["Title"] = "Contacts";
}

    
              

                <div class="span9">

                    <h3> Контакты</h3>
                    <div class="well">

                        <form class="form-horizontal">



                             КОНТАКТЫ


                        </form>
                    </div>

                </div>

         