@model IEnumerable<Entities.Category> 


    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        @foreach (var category in Model)
        {
            <li>
                <a asp-action="CategorySearch" asp-controller="Home" asp-route-id ="@category.Id">@category.Name</a>
            </li>
        }
           
    </ul>
   

